<!DOCTYPE html>
<html>
<head>
    @*<title>@Page.Title</title>
        @RenderSection("head", required: false)*@
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img/logo-fold.png" sizes="180x180" />
    <title>Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css?v=1.0" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-left">
                <i class="fa-solid fa-bars"></i>
                <a href="index.html" class="header-logo">
                    <img src="./img/logo-fold.png" alt="" />
                </a>
            </div>
            <div class="header-right">
                <div class="noti-icon">
                    <i class="fa-regular fa-bell notification-bell shake"></i>
                </div>
                <div class="account">
                    <img src="https://images.unsplash.com/photo-1726554881162-ceeb7d68be8c?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" />
                </div>
            </div>
        </header>
        <div class="main">
            <div class="sidebar">
                <div class="nav">
                    <a href="/Admin/DashboardAdmin" class="nav-link" data-index="dashboard">
                        <div class="nav-item">
                            <i class="fa-solid fa-tachometer-alt"></i>
                            <p>Tổng quan</p>
                        </div>
                    </a>
                    <a href="/Admin/ProductAdmin" class="nav-link" data-index="product-management">
                        <div class="nav-item">
                            <i class="fa-solid fa-box"></i>
                            <p>Quản lý kho hàng</p>
                        </div>
                    </a>
                    <a href="/Admin/CusAdmin" class="nav-link" data-index="customer-management">
                        <div class="nav-item">
                            <i class="fa-solid fa-users"></i>
                            <p>Quản lý khách hàng</p>
                        </div>
                    </a>
                    <a href="/Admin/OrderAdmin" class="nav-link" data-index="order-management">
                        <div class="nav-item">
                            <i class="fa-solid fa-receipt"></i>
                            <p>Quản lý đơn hàng</p>
                        </div>
                    </a>
                    <a href="/Admin/RevenueAdmin" class="nav-link" data-index="revenue-statistics">
                        <div class="nav-item">
                            <i class="fa-solid fa-chart-line"></i>
                            <p>Thống kê doanh thu</p>
                        </div>
                    </a>
                    <a href="/Admin/PromotionAdmin" class="nav-link" data-index="promotion">
                        <div class="nav-item">
                            <i class="fa-solid fa-tags"></i>
                            <p>Quản lý khuyến mãi</p>
                        </div>
                    </a>
                    <a href="/Admin/AccountAdmin" class="nav-link" data-index="account">
                        <div class="nav-item">
                            <i class="fa-solid fa-user"></i>
                            <p>Quản lý tài khoản</p>
                        </div>
                    </a>
                </div>

                <div class="sidebar-bottom" id="sign-up">
                    <a href="@Url.Action("Logout", "Login")" class="nav-link" aria-label="Đăng xuất" style="display: flex; gap: 10px">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>Đăng xuất</p>
                    </a>
                </div>
            </div>

            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @*<script type="module" src="~/Content/js/admin.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        // Lấy URL hiện tại
        const currentUrl = window.location.pathname;

        // Lấy tất cả các liên kết trong sidebar
        const navLinks = document.querySelectorAll('.nav-link');

        // Đặt mặc định: active cho liên kết khớp với URL
        navLinks.forEach(link => {
            console.log(currentUrl);
            if (currentUrl.includes(link.getAttribute('href'))) {
                link.classList.add('active');
            }
        });
    </script>
</body>
</html>
