@model IEnumerable<WebLaptopNe.Models.category>

@{
    ViewBag.Title = "ProductAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<link href="~/Content/css/sweetalert.css?v=1.0" rel="stylesheet" />
<div class="tab-content" id="product-management-content">
    <div class="product-stats">
        <div class="stat-card">
            <div class="card-image">
                <img src="./img/adminpage/product.png" alt="" />
            </div>
            <div class="card-content">
                <h3>Tổng sản phẩm trong kho</h3>
                <p id="total-stock">0</p>
            </div>
        </div>
        <div class="stat-card">
            <div class="card-image">
                <img src="./img/adminpage/category.png" alt="" />
            </div>
            <div class="card-content">
                <h3>Số loại sản phẩm</h3>
                <p id="total-categories">0</p>
            </div>
        </div>
        <div class="stat-card">
            <div class="card-image">
                <img src="./img/adminpage/out-of-stock.png" alt="" />
            </div>
            <div class="card-content">
                <h3>Sản phẩm hết hàng</h3>
                <p id="out-of-stock">0</p>
            </div>
        </div>
        <div class="stat-card">
            <div class="card-image">
                <img src="./img/adminpage/new-product.png" alt="" />
            </div>
            <div class="card-content">
                <h3>Sản phẩm mới nhất</h3>
                <p id="latest-product">Chưa có</p>
            </div>
        </div>
    </div>

    <div class="tab-content-container">
        <div class="header-tab">
            <div class="search-container">
                <input type="text"
                       id="product-search"
                       placeholder="Tìm kiếm sản phẩm..." />
                <button id="search-btn-product">Tìm kiếm</button>
            </div>
            <button class="add-category">
                <i class="fa-solid fa-plus"></i>
                Thêm loại sản phẩm
            </button>

            <button class="add-product">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </button>
        </div>

        <!-- Overlay và Form thêm sản phẩm -->
        <div class="overlay" id="overlay" data-index="0">
            <div class="add-product-form" id="add-product-form">
                <div class="form-header">
                    <p>Thêm sản phẩm mới</p>
                    <button class="close-btn" id="close-form">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <form id="product-form">
                    <div class="form-grid">
                        <!-- Cột 1 -->
                        <div class="form-column">


                            <div class="form-group">
                                <label for="product-images">Hình ảnh sản phẩm (Tối đa 4 hình):</label>
                                <input type="file" id="product-images" accept="image/*" multiple required />
                            </div>

                            <div class="form-group">
                                <label for="product-name">Tên sản phẩm:</label>
                                <input type="text" id="product-name" placeholder="Nhập tên sản phẩm" required />
                            </div>

                            <div class="form-group">
                                <label for="product-price">Giá sản phẩm:</label>
                                <input type="number" id="product-price" placeholder="Nhập giá sản phẩm" required />
                            </div>

                            <div class="form-group">
                                <label for="product-rating">Đánh giá sản phẩm:</label>
                                <input type="number" id="product-rating" placeholder="Nhập đánh giá sản phẩm" min="1" max="5" required />
                            </div>

                            <div class="form-group">
                                <label for="product-discount">Phần trăm giảm giá:</label>
                                <input type="number" id="product-discount" placeholder="Nhập phần trăm giảm giá" required />
                            </div>

                            <div class="form-group">
                                <label for="product-category">Danh mục sản phẩm:</label>
                                <select id="product-category" required>
                                    <option value="">Chọn danh mục</option>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <option value="@category.id">@category.category_name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="product-brand">Thương hiệu:</label>
                                <select id="product-brand" required>
                                    <option value="">Chọn thương hiệu</option>
                                    @foreach (var brand in ViewBag.Brands)
                                    {
                                        <option value="@brand.brand_id">@brand.brand_name</option>
                                    }
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="product-weight">Cân nặng:</label>
                                <input type="number" id="product-weight" placeholder="Nhập cân nặng" required />
                            </div>

                            <div class="form-group">
                                <label for="product-quantity">Số lượng:</label>
                                <input type="number" id="product-quantity" placeholder="Nhập số lượng" required />
                            </div>

                            <div class="form-group">
                                <label for="product-port">Cổng kết nối:</label>
                                <input type="text" id="product-port" placeholder="Nhập cổng kết nối" required />
                            </div>
                        </div>

                        <!-- Cột 2 -->
                        <div class="form-column">
                            <div class="form-group">
                                <label for="product-cpu">CPU:</label>
                                <input type="text" id="product-cpu" placeholder="Nhập CPU" required />
                            </div>

                            <div class="form-group">
                                <label for="product-gpu">GPU:</label>
                                <input type="text" id="product-gpu" placeholder="Nhập GPU" required />
                            </div>

                            <div class="form-group">
                                <label for="product-vga">VGA:</label>
                                <input type="text" id="product-vga" placeholder="Nhập VGA" required />
                            </div>
                            <div class="form-group">
                                <label for="product-ram">RAM:</label>
                                <input type="text" id="product-ram" placeholder="Nhập RAM" required />
                            </div>

                            <div class="form-group">
                                <label for="product-storage">Ổ cứng:</label>
                                <input type="text" id="product-storage" placeholder="Nhập ổ cứng" required />
                            </div>

                            <div class="form-group">
                                <label for="product-webcam">Webcam:</label>
                                <input type="text" id="product-webcam" placeholder="Nhập Webcam" required />
                            </div>

                            <div class="form-group">
                                <label for="product-battery">Pin:</label>
                                <input type="text" id="product-battery" placeholder="Nhập pin" required />
                            </div>

                            <div class="form-group">
                                <label for="product-os">Hệ điều hành:</label>
                                <input type="text" id="product-os" placeholder="Nhập hệ điều hành" required />
                            </div>

                            <div class="form-group">
                                <label for="product-screen-size">Kích thước màn hình:</label>
                                <input type="text" id="product-screen-size" placeholder="Nhập kích thước màn hình" required />
                            </div>

                            <div class="form-group">
                                <label for="product-warranty">Thời gian bảo hành:</label>
                                <input type="number" id="product-warranty" placeholder="Nhập thời gian bảo hành" required />
                            </div>
                        </div>
                    </div>

                    <!-- Nút lưu -->
                    <div class="form-group">
                        <button type="button" id="save-product" class="save-btn">
                            Lưu sản phẩm
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <div class="overlay" id="overlay" data-index="1">
            <div class="categories-container">
                <!-- Nút Đóng lại -->
                <div class="top-actions">
                    <i class="fa-solid fa-xmark"></i>
                </div>

                <div class="categories-content">
                    <!-- Danh sách danh mục -->
                    <div class="categories-list">
                        <h3>Danh sách danh mục</h3>
                        <ul id="category-list">
                            <!-- Các danh mục -->
                        </ul>
                    </div>

                    <!-- Form thêm danh mục -->
                    <div class="add-category-form">
                        <h3>Thêm danh mục mới</h3>
                        <form id="category-form">
                            <label for="category-id">ID:</label>
                            <input type="text"
                                   id="category-id"
                                   class="form-input"
                                   required />

                            <label for="category-name">Tên danh mục:</label>
                            <input type="text"
                                   id="category-name"
                                   class="form-input"
                                   required />

                            <label for="parent-category">Danh mục cha:</label>
                            <input type="text"
                                   id="parent-category"
                                   class="form-input" />

                            <label for="stock-quantity">Số lượng tồn:</label>
                            <input type="number"
                                   id="stock-quantity"
                                   class="form-input"
                                   required />

                            <label for="category-desc">Mô tả:</label>
                            <textarea id="category-desc"
                                      class="form-textarea"
                                      rows="3"></textarea>

                            <button type="button"
                                    id="add-category-btn"
                                    class="add-category-button">
                                Thêm danh mục
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bảng danh sách sản phẩm -->
        <div class="tab-container">
            <table class="product-table" id="product-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Loại sản phẩm</th>
                        <th>Ngày thêm</th>
                        <th>Thao tác</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="product-table-body">
                    <!-- <tr>
                      <td>001</td>
                      <td>
                        <a href="https://via.placeholder.com/50" target="_blank"
                          >https://via.placeholder.com/50</a
                        >
                      </td>
                      <td>Sản phẩm 1</td>
                      <td>200.000 VNĐ</td>
                      <td>Đèn LED</td>
                      <td>01/12/2024</td>
                      <td><button class="view-details">Xem chi tiết</button></td>
                      <td>
                        <button class="edit-product">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                      </td>
                      <td>
                        <button class="delete-product">
                          <i class="fa-regular fa-trash-can"></i>
                        </button>
                      </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Khung chi tiết sản phẩm -->
    <div class="product-details"
         id="product-details"
         style="display: none">
        <button id="close-details-btn">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </button>
        <!-- Phần tiêu đề và thông tin cơ bản -->
        <div class="details-header">
            <div class="product-info">
                <div class="product-info-left">
                    <div class="product-image">
                        <img id="product-image-header"
                             src=""
                             alt="Hình ảnh sản phẩm" />
                    </div>
                    <div class="basic-details">
                        <p>
                            <strong>Tên sản phẩm:</strong>
                            <span id="product-name-header"></span>
                        </p>
                        <p>
                            <strong>Mã sản phẩm:</strong>
                            <span id="product-id-details"></span>
                        </p>
                    </div>
                </div>
                <button id="save-product-btn"
                        class="save-button"
                        style="display: none">
                    <i class="fa-solid fa-pen"></i> Lưu
                </button>

                <button id="edit-product-btn" class="edit-button">
                    <i class="fa-solid fa-pen"></i> Chỉnh sửa
                </button>
            </div>
        </div>

        <div class="details-main">
            <!-- Phần thông tin thống kê -->
            <div class="stats-container">
                <div class="stat-box">
                    <div class="stat-image">
                        <img src="./img/adminpage/sales.png" alt="" />
                    </div>
                    <div class="stat-text">
                        <p>Số lượng bán được</p>
                        <span id="sold-quantity">0</span>
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stat-image">
                        <img src="./img/adminpage/inventory.png" alt="" />
                    </div>
                    <div class="stat-text">
                        <p>Số lượng tồn kho</p>
                        <span id="stock-quantity">0</span>
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stat-image">
                        <img src="./img/adminpage/star.png" alt="" />
                    </div>
                    <div class="stat-text">
                        <p>Rating</p>
                        <span id="product-rating">0/5</span>
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stat-image">
                        <img src="./img/adminpage/chat.png" alt="" />
                    </div>
                    <div class="stat-text">
                        <p>Đánh giá</p>
                        <span id="product-reviews">0 đánh giá</span>
                    </div>
                </div>
            </div>

            <!-- Phần chi tiết sản phẩm -->
            <div class="details-content">
                <div>
                    <strong>Id:</strong>
                    <span id="product-id-view"></span>
                    <input type="text"
                           id="edit-product-id"
                           value="5353"
                           style="display: none"
                           readonly />
                </div>

                <div>
                    <strong>Hình ảnh:</strong>
                    <span id="product-image-view"></span>
                    <input type="text"
                           id="edit-product-image"
                           style="display: none"
                           accept="image/*" />
                </div>

                <div>
                    <strong>Tên sản phẩm:</strong>
                    <span id="product-name-view"></span>
                    <input type="text"
                           id="edit-product-name"
                           value="Skinny Men Blazer"
                           style="display: none" />
                </div>

                <div>
                    <strong>Giá:</strong>
                    <span id="product-price-view"></span>
                    <input type="text"
                           id="edit-product-price"
                           value="200,000 VNĐ"
                           style="display: none" />
                </div>

                <div>
                    <strong>Loại sản phẩm:</strong>
                    <span id="product-category-view"></span>
                    <input type="text"
                           id="edit-product-category"
                           value="Thời trang nam"
                           style="display: none" />
                </div>

                <div>
                    <strong>Tình trạng:</strong>
                    <span id="product-status-view"></span>
                    <input type="text"
                           id="edit-product-status"
                           value="Còn hàng"
                           style="display: none" />
                </div>

                <div>
                    <strong>Mô tả:</strong>
                    <span id="product-description-view">

                    </span>
                    <textarea id="edit-product-description"
                              style="display: none">
Blazer phong cách trẻ trung, phù hợp cho các sự kiện.</textarea>
                </div>

                <div>
                    <strong>Ngày thêm:</strong>
                    <span id="product-date-view"></span>
                    <input type="date"
                           id="edit-product-date"
                           value="2024-11-15"
                           style="display: none" />
                </div>

                <div>
                    <strong>Giảm giá:</strong>
                    <span id="product-discount-view"></span>
                    <input type="text"
                           id="edit-product-discount"
                           value="10%"
                           style="display: none" />
                </div>
                <div>
                    <strong>Số lượng tồn kho:</strong>
                    <span id="product-stock-view"></span>
                    <input type="text"
                           id="edit-product-stock"
                           value="213"
                           style="display: none" />
                </div>
                <div>
                    <strong>Đánh giá:</strong>
                    <span id="product-rating-view"></span>
                    <input type="text"
                           id="edit-product-rating"
                           value="5"
                           style="display: none" />
                </div>
                <div>
                    <strong>Thời gian bảo hành:</strong>
                    <span id="product-warranty-view"></span>
                    <input type="text"
                           id="edit-product-warranty"
                           value="12 tháng"
                           style="display: none" />
                </div>
                <div>
                    <strong>CPU:</strong>
                    <span id="product-cpu-view"></span>
                    <input type="text"
                           id="edit-product-cpu"
                           value="Intel Core i7-12700H"
                           style="display: none" />
                </div>

                <div>
                    <strong>GPU:</strong>
                    <span id="product-gpu-view"></span>
                    <input type="text"
                           id="edit-product-gpu"
                           value="NVIDIA GeForce RTX 3060"
                           style="display: none" />
                </div>

                <div>
                    <strong>RAM:</strong>
                    <span id="product-ram-view"></span>
                    <input type="text"
                           id="edit-product-ram"
                           value="16GB DDR5"
                           style="display: none" />
                </div>

                <div>
                    <strong>Ổ cứng:</strong>
                    <span id="product-storage-view"></span>
                    <input type="text"
                           id="edit-product-storage"
                           value="512GB SSD"
                           style="display: none" />
                </div>

                <div>
                    <strong>Card VGA:</strong>
                    <span id="product-vga-view"></span>
                    <input type="text"
                           id="edit-product-vga"
                           value="NVIDIA GeForce RTX 3060"
                           style="display: none" />
                </div>

                <div>
                    <strong>Mux Switch:</strong>
                    <span id="product-mux-switch-view">Có</span>
                    <input type="text"
                           id="edit-product-mux-switch"
                           value="Có"
                           style="display: none" />
                </div>

                <div>
                    <strong>Màn hình:</strong>
                    <span id="product-screen-view"></span>
                    <input type="text"
                           id="edit-product-screen"
                           value="15.6&quot; FHD 144Hz"
                           style="display: none" />
                </div>

                <div>
                    <strong>Webcam:</strong>
                    <span id="product-webcam-view"></span>
                    <input type="text"
                           id="edit-product-webcam"
                           value="1080p Full HD"
                           style="display: none" />
                </div>

                <div>
                    <strong>Cổng kết nối:</strong>
                    <span id="product-ports-view"></span>
                    <input type="text"
                           id="edit-product-ports"
                           value="USB Type-C, HDMI, Ethernet"
                           style="display: none" />
                </div>

                <div>
                    <strong>Trọng lượng:</strong>
                    <span id="product-weight-view"></span>
                    <input type="text"
                           id="edit-product-weight"
                           value="~ 3 kg"
                           style="display: none" />
                </div>

                <div>
                    <strong>Pin:</strong>
                    <span id="product-battery-view"></span>
                    <input type="text"
                           id="edit-product-battery"
                           value="4-cell 90Wh"
                           style="display: none" />
                </div>

                <div>
                    <strong>Hệ điều hành:</strong>
                    <span id="product-os-view"></span>
                    <input type="text"
                           id="edit-product-os"
                           value="Windows 11"
                           style="display: none" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="~/Content/admin.js/productAdmin.js?v=@DateTime.Now.Ticks"></script>



